@model ProductAssignment

@{
    ViewBag.Title = "Party Details";
}

<h1 class="text-lg font-bold mb">Party Details: @Model.PartyResponse.PartyName</h1>
<br />

<a asp-action="ProductAssign" asp-controller="ProductAssignment" asp-route-partyId="@Model.PartyResponse.PartyID" class="styled-link">
    Assign Product
</a>
<br />
<br />  

<table class="display table w-100 mt">
    <thead class="bg-light-blue">
        <tr>
            <th class="text-left p-2">Product Id</th>
            <th class="text-left p-2">Product Name</th>
            <th class="text-left p-2">Product Price</th>
            <th class="text-left p-2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.ProductAddResponse)
        {
            <tr class="border-b">
                <td class="p-2">@product.ProductID</td>
                <td class="p-2">@product.ProductName</td>
                <td class="p-2">@product.ProductPrice</td>
                <td class="p-2">
                    <a asp-action="Details" asp-controller="Products" asp-route-productId="@product.ProductID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h4 style="text-decoration:underline" class="text-md font-semibold mt">Total Products: @Model.ProductAddResponse.Count()</h4>
