@model InvoiceView
@{
    ViewBag.Title = "Invoice";
}

<h1>Invoices</h1>


<div class="center-box">
    <form id="addProductForm">
        <input type="hidden" value="@Model.PartyID" id="partyId" />

        <!-- Party -->
        <div class="form-field flex">
            <div class="w-25">
                <label for="Party" class="form-label pt">Party</label>
            </div>
            <div class="flex-1">
                @{
                    if (Model.PartyID == 0)
                    {
                        <select class="form-input" id="party-selection">
                            <option value="">Select Party</option>
                            @foreach (var party in ViewBag.Party)
                            {
                                <option value="@party.Value">@party.Text</option>
                            }
                        </select>
                    }
                    else
                    {
                        <input class="form-input" readonly value="@Model.PartyName">
                    }
                }
                <span class="text-red"></span>
            </div>
        </div>

        @foreach (var product in ViewBag.products)
        {
            <div class="form-field flex">
                <!-- Product Name as a label -->
                <div class="w-25">
                    <label class="form-label pt ">@product.ProductName</label>
                </div>

                <!-- Quantity Input -->
                <div class="flex-1">
                    <input type="hidden" name="Products[@product.ProductId].ProductId" value="@product.ProductId" />
                    <input type="number" class="form-input" name="Products[@product.ProductId].Quantity" id="quantity-@product.ProductId" value="0" placeholder="0" min="0" required>
                    <span class="text-red"></span>
                </div>
            </div>
        }


        <!-- Submit Button -->
        <div class="form-field flex">
            <div class="w-25"></div>
            <div class="flex-1">
                <button type="submit" id="AddBtn" class="button button-green-back">Add</button>
                <div asp-validation-summary="All" class="text-red"></div>
            </div>
        </div>


    </form>
</div>


<div class="center-box">
    <h3>Invoive Details</h3>

    <table class="table w-100 mt" id="InvoiceProdcuts">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Sub Total</th>
            </tr>
        </thead>
        <tbody id="invoiceBody">

        </tbody>
    </table><br /><br />

    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" id="generateInvoiceButton">Create Invoice</button>

    </div>

</div>

@section Scripts {
    <script>
        var invoiceData = [];
        var partyId = $('#partyId').val();

        $(document).ready(function () {
            var products = @Html.Raw(Json.Serialize(ViewBag.products));

            console.log(products);

            $('#addProductForm').on('submit', function (event) {
                event.preventDefault();

                $('#InvoiceProducts tbody').empty();
                $('#AddBtn').prop('disabled', true);

                products.forEach(function (product) {
                    var productId = product.productId;
                    var productName = product.productName;
                    var price = parseFloat(product.price);
                    var quantityInput = $('#quantity-' + productId);
                    var quantity = parseInt(quantityInput.val());


                    if (quantity > 0) {
                        var subtotal = quantity * price;

                        $('#invoiceBody').append(
                            '<tr>' +
                            '<td>' + productId + '</td>' +
                            '<td>' + productName + '</td>' +
                            '<td>' + quantity + '</td>' +
                            '<td>' + price.toFixed(2) + '</td>' +
                            '<td>' + subtotal.toFixed(2) + '</td>' +
                            '</tr>'
                        );

                        // Add product data to invoiceData array
                        invoiceData.push({
                            partyId: parseInt(partyId),
                            ProductId: productId,
                            ProductName: productName,
                            Quantity: quantity,
                            Price: price,
                            Subtotal: subtotal
                        });
                    }
                });
                $('#AddBtn').prop('disabled', true);
            });

            $('#generateInvoiceButton').on('click', function (event) {
                event.preventDefault();

                console.log(invoiceData);

                if (invoiceData.length === 0) {
                    alert('Add at least one product');
                    return;
                }

                $.ajax({
                    url: '/Invoices/CreateInvoice',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(invoiceData),
                    success: function (response) {
                        alert('Invoice created successfully!');
                        window.location.href = "/Invoices/Index";
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr);
                        console.log(status);
                        console.log(error);
                        alert('Error: ' + error);
                    }
                });
            });
        });
    </script>
} 